.container-header{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-top: 2%;
}

.link-home{
  text-decoration: none;
  color: var(--black);
  background-color: var(--yellow);
}

.images{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.carrinho {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 15%;
  justify-content: space-between;
}

.carrinho-vazio {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--black)
}

.carrinho-cheio {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--black)
}

.quantidade-carrinho {
  font-size: 10px;
  padding: 1px;
  text-align: center;
  color: #fff;
  background-color: red;
  border-radius: 10px;
  border: red solid 1px;
  width: 9%;
  margin-left: -8%;
  margin-bottom: 15%;
}

.paragrafo {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  color: var(--black);
  font-size: 16px;
  margin: 0;
  text-align: center;
  width: 100%;
  background-color: #f0f0f0;
  height: 30px;
  padding-top: 8px;
}

