.container-header{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-top: 2%;
}

.link{
  text-decoration: none;
}

.images{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.carrinho {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 15%;
}

.quantidade-carrinho {
  font-size: 10px;
  padding: 1px;
  text-align: center;
  color: #fff;
  background-color: red;
  border-radius: 10px;
  border: red solid 1px;
  width: 9%;
  margin-left: -8%;
  margin-bottom: 15%;
}

